body {
    width: clamp(90%);
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
.container {
    width: clamp(480px, 98%, 1905px);
}
nav ul,
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    background-color: darkseagreen;
}
h2 {
    font-size: 1em;
    background-color: lightgrey;
}
h3 {
    font-size: 2em;
}
nav {
    font-size: 1em;
    color: lightgrey;
    background-color: #333;
    text-transform: lowercase;
}
.outer-wrapper {
    overflow: hidden;
    height: 1.2em;
    font-size: 3em;
    background-color: darkseagreen;
    color: #333;
}
.outer-wrapper::before {
    display: inline-block;
}
.inner-wrapper {
    display: inline-block;
    text-transform: lowercase;
    color: lightgrey;
}
.textclip {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}
.subtitle {
    text-transform: lowercase;
    color: lightgrey;
}
.up30 {
    position: relative;
    bottom: 10px;
    text-align: right;
}
.up44 {
    position: relative;
    bottom: 23px;
}
.up60 {
    position: relative;
    bottom: 60px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
