<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    </head>
    <body>
        <!-- <h1 class="textclip">praisedpern.github.io<span class="subtitle">{{ page.title }}</span></h1>
            hiding this title for new title WIP-->
        <div class="outer-wrapper">
            praisedpern.github.io<!--
                -->
            <div class="inner-wrapper">{{ page.title }}</div>
        </div>
        <h2 class="up30">
            <a href="https://www.github.com/praisedpern/">github</a>
            <a href="https://www.ebay.co.uk/usr/praisedpern/">ebay</a>
            <a href="https://www.linkedin.com/in/jamesajinks/">linkedin</a>
        </h2>
        <nav class="up44">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/boards">Tutorials</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="container">{{ content }}</div>
        <!-- /.container -->
    </body>
</html>
